// TUTOR SIGN UP PAGE

html 
    include ../header.html
    body(style={background: '#bababa'})
        .container
   
        // register form

      p= 'hello'
       
      // 

                         
                        
footer
    include ../footer.html