//  FOOTER

div(class='container')
    footer(class='sticky-bottom my-4')
        ul(class='nav justify-content-center mb-3')
            li(class='nav-item')
                a(class='nav-link px-2 text-muted' href='/') Home
            li(class='nav-item')
                a(class='nav-link px-2 text-muted' href='#') FAQs
            li(class='nav-item')
                a(class='nav-link px-2 text-muted' href='#') About
        p(class='text-center text-muted') &copy; 2023 UTDesign