//  INDEX PAGE (PUG)

html 
    include ../header.html
    body(style={background: '#bababa'})
        .container 
            div(class='row')

        div(id='homeCarousel' class='carousel slide' data-bs-ride='carousel')
            div(class='carousel-indicators')
                button(type='button' data-bs-target='#homeCarousel' data-bs-slide-to='0' class='active' aria-current='true' aria-label='Slide 1')
                button(type='button' data-bs-target='#homeCarousel' data-bs-slide-to='1' aria-label='Slide 2')
            div(class='carousel-inner')
                div(class='carousel-item active' data-bs-interval='5000')
                    img(src='/grayBg.png' class='d-block' style='width: 100vw; height: 95vh' alt='First Slide')
                    div(class='carousel-caption')
                        h1= 'Welcome!'
                div(class='carousel-item' data-bs-interval='5000')
                    img(src='/orangeBg.png' class='d-block' style='width: 100vw; height: 95vh' alt='Second Slide')
                    div(class='carousel-caption')
                        h1= 'Welcome!'

footer 
    include ../footer.html