//  PROFILE PAGE (DISPLAY USER INFO TO USER)
//  NOTE: MUST BE GUARDED, REQUIRE AUTHENTICATION

html 
    head 
        include ../header.html 
    body(style={background: '#bababa'})

    footer 
        include footer 