//  TUTORS PAGE USING PUG
//  NOTE: BE CAREFUL OF SPACING ISSUES

html 
    include ../header.html
    body 
        ul.list-group 
            each tutor, i in tutors 
                li.list-group-item
                    h5= tutor.name
                    p= tutor.subjects
                    p= tutor.availability

footer
    include ../footer.html

style 
    body 
        background-color: #bababa