//  TUTORS PAGE USING PUG
//  NOTE: BE CAREFUL OF SPACING ISSUES WITH PUG

html 
    head
        include ../header.html
    body(style={background: '#bababa'})
        .container
            ul(class='list-group mt-1')
                each tutor, i in tutors 
                    li(class='list-group-item my-1')
                        h5= tutor.name
                        p= tutor.subjects
                        // p= tutor.availability
    footer
        include footer